server/credentials.json

# keep npm stuff out
node_modules
npm-debug.log

# these are here so that I can use
# rsync -avs --delete --exclude-from=.gitignore
# when deploying to the server
.git
.gitignore
submissions
pdf

# local convenience script to deploy to server
deploy.sh
